p {
  color: #e2e2e2;
  width: 800px;
  line-height: 175%;
  margin: 16px 0px;
}

body {
  background-color: #222222;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.caption {
  width: fit-content;
  margin-top: 4px;
  font-size: 0.75em;
  color: #919191;
}
.introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h1 {
    color: #e2e2e2;
    margin-top: 24px;
    font-size: 2.25em;
  }
  p {
    margin-top: 0px;
  }
}
.projects-media-wrapper {
  width: auto;
}
.projects-media-wrapper-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  width: 100vw;
}
img {
  width: 600px;
  height: auto;
}
